<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.elfiky.cordova.plugin.appnext"
        version="1.0">

    <name>AppNextPlugin</name>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <asset src="js/AppnextPlugin.js" target="js/AppnextPlugin.js"/>

    <js-module src="js/AppnextPlugin.js" name="Appnext">
        <clobbers target="Appnext"/>
    </js-module>


    <platform name="android">
        <source-file src="android/AppNextVideoPlugin.java" target-dir="src/com/elfiky/cordova/plugin/appnext/" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Appnext">
                <param name="android-package" value="com.appnext.appnextsdk.cordova.AppnextPlugin"/>
            </feature>
            <feature name="AppNextVideoPlugin">
                <param name="android-package" value="com.elfiky.cordova.plugin.appnext.AppNextVideoPlugin"/>
            </feature>
        </config-file>

        <source-file src="android/AppnextSDK.jar" target-dir="libs"/>
        <source-file src="android/VideoInterstitialSDK.jar" target-dir="libs"/>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.appnext.appnextsdk.DownloadService"/>
            <activity android:name="com.appnext.appnextinterstitial.InterstitialActivity"
                      android:theme="@android:style/Theme.Translucent" android:process=":remote"
                      android:configChanges="orientation|screenSize" android:hardwareAccelerated="true" />
            <service android:name="com.appnext.appnextinterstitial.DownloadService"/>
        </config-file>

    </platform>

</plugin>